body, div {
	border-width:0;
        text-align:center;
        display: inline-block;
}

h1 {
    text-align:center;
    font-family:"American Typewriter", serif;
}
   
h2  {
   text-align: center;
}  

    p.Basic-Paragraph {
	line-height:1.2;
	margin-top:0;
	text-align: left;	
	height:auto;
	width: 260px;
	padding: 0.2em;
}
  
video {width: 260px;
        height: 260px;
}	
   
img._idGenPageitem-1 {
        width: 260px;
        height: 260px;
}     

div._idGenObjectLayout-1 {
       display: inline-block;
       margin-left: 5%;
       clear: both;
}
       
footer {
  background-color: lightsteelblue;
  color: white;
  font-family: Karla;
  font-size: 1rem;
  text-align: center;
  padding: 1em 1em;
} 

@media (max-width: 480px) 
{body, div {border-width:0; text-align:center;}
   h1 {text-align:center; margin-top: 0.01em;}
   p.Basic-Paragraph {width: 100%; text-align: center; margin-left: 0; font-size: 150%;}
   img._idGenPageitem-1 {height: auto; width: 260px; margin-left: 17%; }
   video {height: 260px; width: 260px; margin-left: 17%; }
   div._idGenObjectLayout-1 { border-width:0; display: inline;
}
}
 
@media (max-width: 320px) 
{body, div {border-width:0; text-align:center;}
    h1 {text-align:center; margin-top: 0.01em;}
    p.Basic-Paragraph {width: 100%; text-align: center; margin-left: 0; font-size: 128%;}
    img._idGenPageitem-1 { height:100%; width:100%; margin-left: 0;}
    video {height: 306px; width: 100%; margin-left: 0; }
    div._idGenObjectLayout-1 {margin-left: 0.01em; border-width:0; display: inline;
}
}
	  